.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px;
}
